---
title: Down on the Farm
---
<html>
<body>

<header>
    <nav>
        <ul>
            <li id="logo"><a href="/index.html"><img src="/images/Logo.png" height="30" width="30"></a></li>
            <li><a href="/index.html"><b>Down on the Farm</b></a></li>
            <span class="right">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/produce.html">Produce</a></li>
                <li><a href="/fences.html">Fences</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </span>
        </ul>
    </nav>
</header>