
<%= partial "navbar" %>

<div class="aboutJumbo"></div>

        <div class="container">
            <h1>Our Mission...</h1>
            <p>Our mission at Down on the Farm is to produce products we can sell year round. Tomatoes are what we are
                known for but they are seasonal. Therefore we are taking what we raise at our Vinita, Oklahoma location
                (Cattle, hogs, sheep, and goats) and marketing them directly to the customer. All the animals raised on our
                farm go to a state inspected processing facility. That way, we can guarantee safe and quality meat. all our
                livestock are raised on pasture and have access to sheds. Our goal is quality not quantity.
            </p>
        </div>



<div class="larryJumbotron">

<aside>


    <h3>Larry Wilkins</h3> <p>Certified Beef Distributor</p>

    <!--<h4>Age:</h4> <p>66</p>

    <h4>Birthday:</h4> <p>September 2</p> -->

    <h4>College:</h4>
    <p>Oklahoma State University</p>
    <h4>Living in:</h4>
    <p>Tulsa, OK</p>
    <h4>Phone:</h4>
    <p style="font-family: Verdana">918-850-5741</p>

    <h4>Email:</h4>
    <a href="mailto:LarryEWilkins@gmail.com" target="_top"> LarryEWilkins@gmail.com</a>


    <h4>My favorite links</h4>
    <a href="http://usa-lowline.org/" target="_blank"> American Lowline Registry</a>
    <a href="http://www.beef.org/" target="_blank"> National Cattleman's Assoc.</a>

</aside>
</div>

<%= partial "footer" %>