=partial "navbar"

.porkJumbo

.container-full
  =partial "maps"
  .col-3
    %h1 Feel free to contact us!
    %p At Down on the Farm, we appreciate feedback and inquiries for quotes and information. If you have any questions please call us, text us, or email us using the information below!
    .col-4
      %p 918-850-5741
    .col-4
      %p LarryEWilkins@gmail.com



=partial "footer"

