=partial "navbar"

.fencesJumbo

.container
  %h1 Fences for All Livestock
  %p Larry Wilkins started a fencing service 30 years ago in Oklahoma building fences for farmers and ranchers. It was named Fences For All Livestock because the Wilkins family built horse, cattle, hog, chicken, and sheep holding fences. Larry also built privacy fences in residential areas. The goal has always been to build fences that would last longer and have the best materials of anyone in the business. Two of Larry's sons are qualified welders, assuring quality work and construction on pipe fencing.
  %h2 Call for pricing and estimates!
  %i{:class => ["fa", "fa-phone", "fa-fw"], :style => "float:left; font-size:36px;"}
  %h2 918-850-5741

=partial "footer"