<%= partial "navbar" %>

<div class="jumbo"></div>

<!-- content -->

<div class="container">
    <h1>Down on the Farm</h1>
    <p>
        Down on the Farm is a local business created by Larry Wilkins in Tulsa, Oklahoma. Down on the Farm sells farm
        fresh eggs and produce. All of the items sold were grown by Larry Wilkins on his property. All animals are free range
        and greatly taken care of. The business first started out as Fences for all Livestock which was a fencing company
        created by Wilkins. As the business expanded into raising livestock and selling eggs and produce, it was renamed Down
        on the Farm. The fencing business is still available as well as lawn care and other handy-man-like services. Visit
        our <a href="produce.html">produce</a> page to find out just what we are up to!
    </p>
</div>

<%= partial "footer" %>
