<%= partial "_navbar" %>

<div class="ourMenuJumbo"></div>

<div class="container-full">
    <div class="row">
        <div class="col-2">
            <ul>
                <a href="#Produce"><li>Produce</li></a>
                <a href="#Manure"><li>Manure</li></a>
                <a href="#WholePlants"><li>Whole Plants</li></a>
                <a href="#LawnMowing"><li>Lawn Mowing</li></a>
            </ul>
        </div>
        <div class="col-6">
            <h1> Farm Fresh Produce</h1>
            <p> Down on the Farm has been raising free range chickens with farm fresh eggs and vegetables locally for many
            years. A variety of vegetables, including our specialties like home grown tomatoes and okra, are produced seasonally
            and are an excellent choice for a quality ingredient or snack! The Down on the Farm produce also ranges to eggs
            and meats. Click the links to the left to find out more! </p>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
</div>
<div class="chickensJumbo"></div>
<a name="Produce"></a>
<div class="container-full" id="produceList">
    <div class="row">
        <div class="col-1"></div>
        <div class="produceTile">
            <h2>Tomatoes</h2>
            <p>Our tomatoes are grown organically using animal manure and soil that are designed to enhance the flavor. We
            use older varieties of tomatoes for their flavor qualities, but do not use heirloom varieties. We like to produce
            medium to large tomatoes that have a rich, red color.
            </p>
        </div>
        <div class="produceTile">
            <h2>Okra</h2>
            <p>Fresh okra has been raised on Larry's farm and his grandparents' farm ever since he can remember. Our goal is to
            always have okra available at around the same time that the tomatoes are ripe. Our okra is sold at quality size and
            never past peak ripeness. We value our products at having great flavor.
            </p>
        </div>
        <div class="produceTile">
            <h2>Cucumbers</h2>
            <p>Locally grown cucumbers are a fickle crop under an Oklahoma sun. If they have any stress due to heat or
            insects, they taste better. Knowing this is why we make sure they taste like they are supposed to, we test them
            Everything we sell is backed by a 100% guarantee.
            </p>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="produceTile">
            <h2>Eggs</h2>
            <p>All of our hens are free range pastured, on grass. We produce a mixture of large, colored eggs. Every dozen
            out of our farm fresh eggs comes straight out of the hen house sp they are fresh. We have colored heavy breed
            hens because we enjoy the variety that they bring to us.Eggs are guaranteed fresh like everything else we sell.
            All of our fresh, large eggs are priced at $4 a dozen.
            </p>
        </div>
        <div class="produceTile">
            <h2>Other Produce</h2>
            <p>We sell other vegetables but they usually have a limited availability: corn, squash, bell peppers, beats, and
             green beans. Refer back to the website to see what is in store. Our supply of fresh produce varies depending on
              the season. Feel free to contact us or check back here to see what is in stock!
            </p>
        </div>
        <div class="produceTile">
          <h2>Firewood</h2>
          <p>Firewood is available from November to March. It is available for pick up or delivery. The quantity can come in
            quarter, half or full ricks of wood. Great for seasonal warmth and comfort.
          </p>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<a name="WholePlants"></a>
<a name="Manure"></a>
<div class="container-grey-slim">
    <div class="row">
        <div class="col-7">
            <h2>Garden Plants & Manure</h2>
            <p>We sell onion sets, tomato plants, bell peppers, squash, cucumbers, and about 6 types of herbs. We only sell
            plant varieties that we grow on our own. We usually sell 4 types of manure in 50 pound feed sacks including:
            rabbit, sheep, chicken, and cow.</p>
        </div>
        <div class="col-3">
            <img src="../images/goat1.JPG" height="100%" width="100%">
        </div>
    </div>
</div>
<a name="LawnMowing"></a>
<div class="container-slim">
    <div class="row">
        <div class="col-3">
            <img src="../images/lawnMower.JPG" height="100%" width="100%">
        </div>
        <div class="col-7">
            <h2>Lawn Mowing</h2>
            <p>Lawn mowing is one of the handy-man-like services that Larry offers. Small lot mowing and weed eating
             services are offered on a variety of frequencies.</p>
        </div>
    </div>
</div>

<%= partial "_footer" %>